<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/crud_styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/admin.ico') }}" type="image/x-icon">
  <title>Login</title>

  <!-- Para evitar FOUC -->
  <style>
    .no-js body {
      visibility: hidden;
    }
  </style>
  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
</head>

<body class="no-js">
  <h1>Login</h1><br>
  <form method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
    <a href="{{ url_for('static', filename='index.html') }}">Volver</a>
    <br><br>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </form>
</body>

</html>